* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}

img {
    width: 150px;
    height: 180px;
    object-fit: cover;
}

body {
    background-color: #180238;
}

.card {
    /*border: 2px solid white;*/
    width: 640px;
    height: 400px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    perspective: 1200px;
    transition: 1s;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.card:hover {
    transform: rotate(-5deg);
    transition: 1s;
}

.card:hover .outside {
    transform: rotateY(-130deg);
}

.outside, .inside {
    /*border: 2px solid yellowgreen;*/
    height: 100%;
    width: 50%;
    position: absolute;
    left: 50.1%;
}

.outside {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 1;
    transform-origin: left;
    transition: 2s;
    background: linear-gradient(to right, #e0e0e0, #ffffff 30%);
}

.inside {
    background: linear-gradient(to right, #e0e0e0, #ffffff 30%);
    left: 50%;
    padding: 30px;
    text-align: center;
    line-height: 25px;
}

.title {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    transform: rotateX(0deg);
    backface-visibility: hidden;

    font-size: 32px;
    font-weight: 800;
    padding-top: 60px;
    text-align: center;
    letter-spacing: 4px;
    color: rgb(123, 4, 220);
}

.imgout {
    margin-top: 50px;
    position: absolute;
    left: 15px;
}

.ball1, .ball2 {
    position: absolute;
    width: 85px;
    height: 95px;
    border-radius: 50%;
}

.ball1 {
    background-color: rgb(111, 253, 206);
    top: 84px;
    left: 14px;
    z-index: -1;
}

.ball2 {
    background-color: rgb(193, 192, 255);
    right: 14px;
    bottom: 54px
}

.imgout2 img {
    position: absolute;
    object-fit: cover;
    width: 310px;
    height: 300px;
    top: 4px;
    right: 4px;
    left: 3px;
    z-index: -1;
}

.sammy {
    text-align: left;
    padding-bottom: 15px;
}

h2 {
    padding-bottom: 35px;
}

.sun img {
    margin-top: 20px;
    object-fit: cover;
    width: 100px;
    height: 100px;
}


.heart {
    height: 70px;
    width: 70px;
    background-color: #f20044;
    position: relative;
    left: 20%;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #f20044;
    animation: heart 0.6s linear infinite;
}

.heart:before {
    content: '';
    height: 70px;
    width: 70px;
    background-color: #f20044;
    position: absolute;
    top: -50%;
    border-radius: 50%;
    box-shadow: -10px -10px 90px #f20044;
}

.heart:after {
    content: '';
    height: 70px;
    width: 70px;
    background-color: #f20044;
    position: absolute;
    right: -50%;
    border-radius: 50%;
    box-shadow: 10px 10px 90px #f20044;
}

@keyframes heart {
    0% {
        transform: rotate(-45deg) scale(1.07);
    }
}

#my-canvas {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}